@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #0a0a0a;
  --clr-secondary: #e5e5e5;
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-neutral-200;
  }

  html,
  body {
    @apply text-neutral-900 bg-neutral-100;
  }

  .using-mouse * {
    outline: none !important;
  }
}
